@media screen and (max-width: 1200px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 23px;
  }

  .nav-left {
    flex-direction: column;
    text-align: center;
  }

  .content-right {
    display: none;
  }

  .home-article {
    flex-direction: column;
  }

  .home-article-img {
    text-align: center;
  }

  .year-box {
    top: 25px;
    left: 60vw;
    font-size: 11px;
    display: flex;
  }

  .year-box div {
    padding: 0 3px;
    margin: 0;
  }

  .home-article IMG {
    width: 70vw;
  }
  .form-input {
    width: 50%;
  }
  .form-box input,
  textarea {
    width: 66vw;
  }
  .row {
    flex-direction: column;
  }
  .social {
    padding: 0;
  }
  .post-img {
    height: auto;
    width: auto;
    
  }
  .post-img IMG{
    width: 90%;
    border-radius: 10px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px;
  }
  
  .adjust-year {
    position: static;
    height: auto;
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .center{
    width: 90%;
  }
  .btn2 {
    height: 70px;
    width: 120px;
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: var(--font1);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    }
    .btn2:hover {
    color: white;
    background:#e37029;
    }
  
}
